* {
	box-sizing: border-box;
}

body {
	background-color: #ddd; 
}

.black-border {
	border: 1px solid black;
}

#main-content {
	
}

.auto-margin {
	margin-left: auto;
	margin-right: auto;
}

#player-name-submit {
	margin-top: 20px;
}

.p1 {
	color: #f55;
}

.p2 {
	color: #99f;
}

.p3 {
	color: #9f9;
}

.p4 {
	color: #ff9;
}

.pwr-selector {
	color: #ffaa00;
}

.pwr-selector:hover, .mission-option:hover {
	cursor: pointer;
}

.pwr-selector-box {
	text-transform: capitalize;
	min-height: 300px;
	border: 2px solid black;
	padding: 10px;
}

#villainPanel {
	min-height: 200px;
}

#battle-log-area {
	min-height: 100px;
	margin-top: 20px;
}

.ability {
	text-transform: capitalize;
}

.ability:hover, #basic-attack:hover {
	cursor: pointer;
}

.charsheet {
	margin-bottom: 20px;
}

.player-card {
	margin-top: 30px;
	margin-bottom: 30px;
}
/*VILLAIN STYLINGS*/

.thug {
	color: #B39145;
}